body {
  text-align: center;
  color: black;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  // background: #ebe6e0;
  font-weight: 300;
  font-size: 13px;
  line-height: 2.4em;
  letter-spacing: 0.3em;
  overflow: hidden;
  background-color: #a59d9d;
}

img {
  height: 250px;
  width: 250px;
}

li {
  list-style: none;
  padding: 0px;
  font-size: 10px;
}

a {
  text-decoration: none;
  color: black;
}

i {
  padding-right: 10px;
  font-size: 12px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  // color: #d04e68;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 30px;
  font-family: "Playfair Display", serif;
  letter-spacing: 1.47em;
  color: #520e23;

  &:hover {
    // color: rgb(165, 157, 157);
    // color: #520e23;
    color: #d04e68;
  }
}

h2 {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
}

button {
  font-weight: bold;
  width: 150px;
  height: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  // margin-top: 20px;
  margin-bottom: 2px;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 7px;
  background-color: #520e23;
  // color: white;
  color: #a59d9d;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    // background-color: #ebe6e0;
    background-color: #a59d9d;
    color: #520e23;
  }
}

// #sum {
//   // color: rgb(165, 157, 157);
//   padding-bottom: 0;
//   padding-top: 0;
//   margin-bottom: 5px;
//   margin-top: 20px;
//   letter-spacing: 0.3em;
//   font-size: 18px;
//   font-weight: 600;
//   text-transform: uppercase;
//   font-family: "Montserrat", sans-serif;
//   // color:#fdda7e;
//   color: #520e23;

//   &-el {
//     letter-spacing: 0.5em;
//     font-size: 20px;
//   }
// }

// #sum:hover {
//   font-weight: 600;
//   cursor: pointer;
// }

#message-el {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 2.4em;
  letter-spacing: 0.35em;
  color: #520e23;
  margin-top: 30px;
  margin-bottom: 20px;
}

hr {
  font-weight: 3px;
  // color: #a59d9d;
  width: 10%;
  color: #520e23;
}

.marquee,
#cards,
#sum,
#player {
  font-family: abril-fatface, serif;
  font-weight: 300;
  font-size: 20px;
  position: relative;
  // display: flex;
  height: 30px;
  // overflow: hidden;
  letter-spacing: 0.3em;
  color: #d04e68;
  margin-bottom: 5px;

  &_track {
    // position: absolute;
    white-space: nowrap;
    will-change: transform;
    max-width: 100%;
    -moz-animation: marquee 30s linear infinite;
    -webkit-animation: marquee 30s linear infinite;
    animation: marquee 30s linear infinite;
  }

  .reverse {
    animation-direction: reverse;
  }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

#player-el {
  font-family: abril-fatface, serif;
  font-weight: 300;
  font-size: 18px;
  position: relative;
  height: 30px;
  letter-spacing: 0.3em;
  color: #520e23;
  margin-bottom: 5px;

}

footer {
  // background-color: rgba(204, 204, 204, 0.6);
  // background-color: rgba(82,	14,	35, 1);
  // background-color: #520e23;
  background-color: rgba(  208, 78, 93, 1);
  // opacity: 80%;
  border-radius: 20px;
  bottom: 0;
  margin: 20px;
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  position: fixed;
  width: 97%;
  // color: white;
  // color: #ebe6e0;
  // color: rgba(204, 204, 204, 0.6);
  color: #520e23;
  // color: #a59d9d;

  p {
    // margin-top: 20px;
    margin-bottom: 5px;
  }

  a {
    // color: #ebe6e0;
    // color: rgba(204, 204, 204, 0.6);
    color: #520e23;
  }
}

.rodape {
  width: 100%;
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  justify-content: center;

  &_copy {
    font-size: 10px;
    padding-right: 0px;
    flex: 100%;
    flex-wrap: wrap;
    text-align: center;
  }

  &_contactos {
    display: inline-block;
    text-align: center;
    width: 33%;

    ul {
      padding: 0px;
    }
  }

  &_company {
    display: inline-block;
    text-align: center;
    width: 28%;

    ul {
      padding: 0px;
    }
  }

  &_connect {
    display: inline-block;
    text-align: center;
    width: 33%;

    ul {
      padding: 0px;
    }
  }
}

.icons {
  font-size: 17px;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
}

#news_rodape_1 {
    display: block;
}


// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.loader {
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.tall-stack {
  animation: slide-plate-out 6000ms infinite;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.plate {
  width: 230px;
  height: 14px;
  background: #d3ebea;
  position: relative;
  border-radius: 6px 6px 2rem 2rem;
  animation: slide-plate-in 6000ms infinite;
  transform: translateX(100vw);
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}
.plate .plate-bottom {
  content: '';
  display: block;
  height: 50%;
  width: 140px;
  background: #c5e5e3;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -70px;
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
}
.plate .shadow {
  position: absolute;
  top: 130%;
  left: 50%;
  margin-left: -90px;
  z-index: 0;
  width: 180px;
  height: 10px;
  background: rgba(0, 0, 0, .2);
  border-radius: 80%;
  z-index: 0;
}
.butter {
  width: 48px;
  height: 12px;
  background: #eadd4d;
  margin: auto;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 2px rgba(85, 74, 35, .1);
}
.pancake {
  width: 200px;
  height: 14px;
  background: #d8cb9f;
  border-radius: 1rem;
  box-shadow: inset 0 -2px 0 3px rgba(85, 74, 35, .1);
  margin: auto;
}
.falling-element {
  transform: translateY(-100vh);
  animation-timing-function: ease-in;
  animation-fill-mode: forward;
  animation: element-drop 6000ms infinite;
  position: relative;
}
.falling-element:nth-child(8) {
  animation-delay: 0.4s;
}
.falling-element:nth-child(7) {
  animation-delay: 0.62s;
}
.falling-element:nth-child(6) {
  animation-delay: 0.84s;
}
.falling-element:nth-child(5) {
  animation-delay: 1.06s;
}
.falling-element:nth-child(4) {
  animation-delay: 1.28s;
}
.falling-element:nth-child(3) {
  animation-delay: 1.5s;
}
.falling-element:nth-child(2) {
  animation-delay: 1.72s;
}
.falling-element:nth-child(1) {
  animation-delay: 1.94s;
}
@keyframes element-drop {
  0%, 100% {
    transform: translateY(-100vh) scaleY(0.7);
    opacity: 1;
 }
  11% {
    transform: translateY(20%) scaleY(1.2);
 }
  13% {
    transform: translateY(-30%) scaleY(0.9);
 }
  14%, 67% {
    transform: translateY(0%) scaleY(1);
    opacity: 1;
 }
  68% {
    opacity: 0;
    transition: none;
    transform: translateY(-100vh) scaleY(0.7);
 }
}
@keyframes slide-plate-in {
  0% {
    transform: translateX(100vw);
 }
  15%, 100% {
    transform: translateX(0);
 }
}
@keyframes slide-plate-out {
  65% {
    transform: translateX(0);
 }
  85%, 100% {
    transform: translateX(-100vw);
 }
}


// ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

.dot_1 {
  height: 49px;
  width: 165px;
  background-color: #b5aca3;
  border-radius: 10%;
  z-index: -100;
  /* right: 50%; */
  left: 46%;
  bottom: 10;
  position: absolute;
}